<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <event name="StaticInfectedPrisoner">
        <nominal>3</nominal>
        <min>1</min>
        <max>2</max>
        <lifetime>180</lifetime>
        <restock>60</restock>
        <saferadius>20</saferadius>
        <distanceradius>20</distanceradius>
        <cleanupradius>20</cleanupradius>
        <flags deletable="1" init_random="0" remove_damaged="0"/>
        <position>player</position>
        <limit>child</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="2" min="1" type="ZmbM_PrisonerSkinny"/>
        </children>
    </event>
	<event name="StaticInfectedSolitude">
        <nominal>4</nominal>
        <min>2</min>
        <max>3</max>
        <lifetime>360</lifetime>
        <restock>120</restock>
        <saferadius>40</saferadius>
        <distanceradius>40</distanceradius>
        <cleanupradius>40</cleanupradius>
        <flags deletable="1" init_random="0" remove_damaged="0"/>
        <position>player</position>
        <limit>child</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="3" min="2" type="ZmbF_HikerSkinny_Red"/>
        </children>
    </event>
	<event name="AmbientHen">
        <nominal>4</nominal>
        <min>1</min>
        <max>2</max>
        <lifetime>3600</lifetime>
        <restock>0</restock>
        <saferadius>50</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>50</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>child</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_GallusGallusDomesticus"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_GallusGallusDomesticusF_Brown"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_GallusGallusDomesticusF_Spotted"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_GallusGallusDomesticusF_White"/>
        </children>
    </event>
    <event name="AnimalBear">
        <nominal>3</nominal>
        <min>1</min>
        <max>2</max>
        <lifetime>3600</lifetime>
        <restock>0</restock>
        <saferadius>40</saferadius>
        <distanceradius>40</distanceradius>
        <cleanupradius>40</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>child</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_UrsusArctos"/>
        </children>
    </event>
    <event name="AnimalCow">
        <nominal>4</nominal>
        <min>1</min>
        <max>2</max>
        <lifetime>3600</lifetime>
        <restock>0</restock>
        <saferadius>80</saferadius>
        <distanceradius>80</distanceradius>
        <cleanupradius>80</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>child</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_BosTaurusF_Brown"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_BosTaurusF_Spotted"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_BosTaurusF_White"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_BosTaurus_Brown"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_BosTaurus_Spotted"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_BosTaurus_White"/>
        </children>
    </event>
    <event name="ItemPlanks">
        <nominal>4</nominal>
        <min>1</min>
        <max>2</max>
        <lifetime>3600</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>100</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>child</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="50" min="30" type="PileOfWoodenPlanks"/>
        </children>
    </event>
    <event name="Loot">
        <nominal>0</nominal>
        <min>0</min>
        <max>0</max>
        <lifetime>0</lifetime>
        <restock>0</restock>
        <saferadius>0</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>50</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>child</limit>
        <active>1</active>
        <children/>
    </event>
</events>